{{> header }}
<div>
  Hi {{ user.first_name }}, here your reset password link:<br>
  <a href="{{site_url}}/reset-password?reset_token={{ user.reset_token }}&id={{ user.id }}"></a>
</div>
{{> footer }}
